body {
    background: #75a80e;
    
}

a {
    text-decoration:none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    align-items: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;

}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    align-items: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
     width: 130px;
    height: 40px;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    align-items:center;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position:relative;
    overflow: hidden;
    display: block;
    margin: 10px;
    transition: 1s;
    

    
}

/*btn1*/
.btn-1 {
    background:yellow;
    width: 130px;
    height: 40px;
    padding: 0px;
    line-height: 42px;
    border: none;
    cursor: pointer;
    position:none;
    
    
    
}

.btn-1{
    color: blueviolet;   
}
.btn-1:hover{
    color:rgb(0, 255, 221);
    background: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);


}

.btn-1::before{
    content: '';
    position: absolute;
    inset: 2px;
    background-color: orange;
    top:0;
    left: 80%;
    width: 60px;
    height: 4px;
    background-color:#eeefed;



}

  
/*btn-2*/
.btn-2 {
    background-color: green;
    width: 130px;
    height: 40px;
    padding: 0px;;
    line-height: 42px;
    border: none;
    position: relative;
    border-radius: 10%;

}

     
    .btn-2{
        color:firebrick;   
    }
    .btn-2:hover{
        color:black;
        background: var(--clr);
        letter-spacing: 0.25em;
        box-shadow: 0 0 35px var(--clr)
    }
    
    .btn-2::before{
        content: 'Code Here!';
        position: absolute;
        inset: 2px;
        background-color:rgb(0, 255, 221);
        
    }

    


.btn-3{
    background-color:red;
    width: 130px;
    height: 40px;
    padding: 0px;;
    line-height: 42px;
    border: none;
    border-radius: 10%;
   
}

.btn-3{
    border: none;
    transition: all 0.3s ease;
    overflow:hidden;
    color:orange;
    
}   


.btn-3:hover{
    color:green;
    background: transparent;
    background: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr)  
}

.btn-3::before{
   top:0;
   border-radius:50% 50% 0 0;
   top:0;
   left: 80%;
   width: 60px;
   height: 4px;
   background-color:#eeefed;
}





/* Add your custom styles for btn-1, btn-2, and btn-3 */